In [83]:
%load_ext autoreload
%autoreload 1
import sys; sys.path.append("..")
%aimport lib.util
from lib.util import reformat_tract, add_race_eth, add_purpose_type
import pandas as pd
import numpy as np
from ambry import library

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [28]:
l = library()
p = l.get('ffiec.gov-hmda-2010e-lar-2012-ca').partition

source = p.select("SELECT * FROM lar WHERE county_code = 73").pandas

Figure out what the respondent_id is for Bank of America

In [87]:
ts = l.get('ffiec.gov-hmda-2010e-ts').partition.pandas
ts_name = ts[['respondent_id','respondent_name']]
x = source[['id','respondent_id', 'loan_type']].merge(ts_name, on='respondent_id')
x[x.respondent_name.str.contains('BANK OF AMERICA')][['respondent_id','respondent_name']].drop_duplicates()

       respondent_id                 respondent_name
4398      0000012773           BANK OF AMERICAN FORK
17927     0000014740  FIRST NATIONAL BANK OF AMERICA
263517    0000480228           BANK OF AMERICA, N.A.

In [84]:
sd_msa = lib.util.tract_to_msa()
df = source.set_index('census_tract_number').join(sd_msa, rsuffix='_r').reset_index()
add_race_eth(df)
add_purpose_type(df) # Combines loan_purpose and loan_type in the same way as the summary report

In [85]:

x = df[(df.cbsa == "41740") & ( df.respondent_id == '0000480228' ) ][['purpose_type','action_type','loan_amount']]
x.groupby('purpose_type').count()[['action_type']]

                       action_type
purpose_type
improvement                    100
purchase-conventional          948
purchase-govt                  516
refinance                     7789

In [86]:
x.groupby('purpose_type').sum()[['loan_amount']]

                       loan_amount
purpose_type
improvement                  32110
purchase-conventional       449018
purchase-govt               161891
refinance                  2584599

In [66]:
df

,census_tract_number,id,year,respondent_id,agency_code,loan_type,property_type,loan_purpose,occupancy,loan_amount,...,application_date_indicator,county,tract,cbsa,cntyname,cbsaname,hus10,afact,AFACT2,race_eth
0,0001.00,1481815,2012,0000011099,5,1,1,3,1,173,...,0,6073,1,41740,San Diego CA,"San Diego-Carlsbad, CA",1397,1,0.001,w
1,0001.00,1481939,2012,0000013303,3,1,1,3,1,300,...,0,6073,1,41740,San Diego CA,"San Diego-Carlsbad, CA",1397,1,0.001,None
2,0001.00,1482118,2012,0000014384,5,1,1,3,1,1123,...,0,6073,1,41740,San Diego CA,"San Diego-Carlsbad, CA",1397,1,0.001,w
3,0001.00,1482973,2012,0000014384,5,1,1,3,2,321,...,0,6073,1,41740,San Diego CA,"San Diego-Carlsbad, CA",1397,1,0.001,w
4,0001.00,1483667,2012,0000014384,5,1,1,3,1,800,...,0,6073,1,41740,San Diego CA,"San Diego-Carlsbad, CA",1397,1,0.001,None
5,0001.00,1483713,2012,0000014384,5,1,1,3,1,175,...,0,6073,1,41740,San Diego CA,"San Diego-Carlsbad, CA",1397,1,0.001,w
6,0001.00,1483879,2012,0000014384,5,1,1,3,1,264,...,0,6073,1,41740,San Diego CA,"San Diego-Carlsbad, CA",1397,1,0.001,None
7,0001.00,1485885,2012,0000015219,3,1,1,1,2,291,...,0,6073,1,41740,San Diego CA,"San Diego-Carlsbad, CA",1397,1,0.001,w
8,0001.00,1486470,2012,0000017464,1,1,1,2,1,180,...,0,6073,1,41740,San Diego CA,"San Diego-Carlsbad, CA",1397,1,0.001,None
9,0001.00,1486919,2012,0000019222,3,1,1,1,1,400,...,0,6073,1,41740,San Diego CA,"San Diego-Carlsbad, CA",1397,1,0.001,w
10,0001.00,1487405,2012,0000019976,5,1,1,3,1,360,...,0,6073,1,41740,San Diego CA,"San Diego-Carlsbad, CA",1397,1,0.001,w
11,0001.00,1487426,2012,0000019976,5,1,1,1,1,522,...,0,6073,1,41740,San Diego CA,"San Diego-Carlsbad, CA",1397,1,0.001,w
12,0001.00,1487456,2012,0000019976,5,1,1,3,1,546,...,0,6073,1,41740,San Diego CA,"San Diego-Carlsbad, CA",1397,1,0.001,w
13,0001.00,1487776,2012,0000023248,1,1,1,3,2,604,...,0,6073,1,41740,San Diego CA,"San Diego-Carlsbad, CA",1397,1,0.001,w
14,0001.00,1489357,2012,0000024671,1,1,1,1,1,114,...,0,6073,1,41740,San Diego CA,"San Diego-Carlsbad, CA",1397,1,0.001,w
15,0001.00,1489580,2012,0000024754,1,1,1,3,1,1500,...,0,6073,1,41740,San Diego CA,"San Diego-Carlsbad, CA",1397,1,0.001,w
16,0001.00,1490158,2012,0000057311,3,1,1,3,1,467,...,0,6073,1,41740,San Diego CA,"San Diego-Carlsbad, CA",1397,1,0.001,None
17,0001.00,1490645,2012,0000060801,5,1,1,3,1,355,...,0,6073,1,41740,San Diego CA,"San Diego-Carlsbad, CA",1397,1,0.001,None
18,0001.00,1490887,2012,0000060801,5,1,1,3,1,869,...,0,6073,1,41740,San Diego CA,"San Diego-Carlsbad, CA",1397,1,0.001,w
19,0001.00,1491131,2012,0000061003,5,1,1,3,1,140,...,0,6073,1,41740,San Diego CA,"San Diego-Carlsbad, CA",1397,1,0.001,w
20,0001.00,1491206,2012,0000061004,5,1,1,3,1,491,...,0,6073,1,41740,San Diego CA,"San Diego-Carlsbad, CA",1397,1,0.001,w
21,0001.00,1491209,2012,0000061004,5,1,1,3,1,311,...,0,6073,1,41740,San Diego CA,"San Diego-Carlsbad, CA",1397,1,0.001,None
22,0001.00,1491558,2012,0000061004,5,1,1,1,2,417,...,0,6073,1,41740,San Diego CA,"San Diego-Carlsbad, CA",1397,1,0.001,None
23,0001.00,1491561,2012,0000061004,5,1,1,1,1,544,...,0,6073,1,41740,San Diego CA,"San Diego-Carlsbad, CA",1397,1,0.001,h
24,0001.00,1491849,2012,0000061004,5,1,1,3,1,358,...,0,6073,1,41740,San Diego CA,"San Diego-Carlsbad, CA",1397,1,0.001,as
25,0001.00,1492047,2012,0000061004,5,1,1,3,1,303,...,0,6073,1,41740,San Diego CA,"San Diego-Carlsbad, CA",1397,1,0.001,w
26,0001.00,1492611,2012,0000061004,5,1,1,3,1,593,...,0,6073,1,41740,San Diego CA,"San Diego-Carlsbad, CA",1397,1,0.001,w
27,0001.00,1492824,2012,0000061004,5,1,1,3,1,417,...,0,6073,1,41740,San Diego CA,"San Diego-Carlsbad, CA",1397,1,0.001,w
28,0001.00,1495259,2012,0000066584,5,1,1,3,1,417,...,0,6073,1,41740,San Diego CA,"San Diego-Carlsbad, CA",1397,1,0.001,w
29,0001.00,1497216,2012,0000068377,5,1,1,3,1,665,...,0,6073,1,41740,San Diego CA,"San Diego-Carlsbad, CA",1397,1,0.001,w
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247163,NA,2493830,2012,0000068494,5,1,1,1,2,375,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,w
247164,NA,2493831,2012,0000068494,5,1,1,1,1,90,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,w
247165,NA,2493834,2012,0000068494,5,1,1,1,1,260,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,w
247166,NA,2493836,2012,0000068494,5,1,1,1,1,360,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,h
247167,NA,2493837,2012,0000068494,5,1,1,1,1,207,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,w
247168,NA,2493838,2012,0000068494,5,1,1,1,1,170,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,w
247169,NA,2493840,2012,0000068494,5,1,1,1,2,210,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,w
247170,NA,2493842,2012,0000068494,5,1,1,1,1,360,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,w
247171,NA,2493844,2012,0000068494,5,1,1,1,1,360,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b
247172,NA,2493845,2012,0000068494,5,1,1,1,1,200,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,w
247173,NA,2493848,2012,0000068494,5,1,1,1,1,180,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,as
247174,NA,2493849,2012,0000068494,5,1,1,1,2,200,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,w
247175,NA,2493850,2012,0000068494,5,1,1,1,1,350,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,w
247176,NA,2493852,2012,0000068494,5,1,1,1,1,225,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,h
247177,NA,2493857,2012,0000068494,5,1,1,1,1,90,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b
247178,NA,2493858,2012,0000068494,5,1,1,1,1,130,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,w
247179,NA,2494003,2012,0000097068,5,1,1,2,1,18,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
247180,NA,2494025,2012,0000097068,5,1,1,1,1,160,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,w
247181,NA,2494063,2012,0000097068,5,1,1,1,2,309,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,w
247182,NA,2525295,2012,26-2053389,7,2,1,1,1,349,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
247183,NA,2531601,2012,3802909995,7,3,1,3,1,631,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b
247184,NA,2533355,2012,58-1865166,7,1,3,3,3,3387,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
247185,NA,2533356,2012,58-1865166,7,1,3,3,3,6240,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
247186,NA,2533364,2012,58-1865166,7,1,3,3,3,24975,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
247187,NA,2533368,2012,58-1865166,7,1,3,3,3,1200,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
247188,NA,2533373,2012,58-1865166,7,1,3,3,3,875,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
247189,NA,2533378,2012,58-1865166,7,1,3,3,3,2000,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
247190,NA,2533380,2012,58-1865166,7,1,3,3,3,5500,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
247191,NA,2538448,2012,77-0563974,7,1,1,3,2,350,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,w
247192,NA,2538481,2012,77-0563974,7,1,1,3,1,295,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,w