In [65]:
%load_ext autoreload
%autoreload 1
import sys; sys.path.append("..")
%aimport lib.util
from lib.util import reformat_tract, add_race_eth, add_purpose_type, add_income_group
import pandas as pd
pd.options.display.max_columns = 50
pd.options.display.max_rows = 1500
import numpy as np
from ambry import library
l = library()
p = l.get('ffiec.gov-hmda-2010e-lar-2012-ca').partition
df = p.select("SELECT * FROM lar WHERE county_code = 73").pandas

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [67]:
add_race_eth(df) # Adds race_eth column
add_purpose_type(df) # Adds purpose_type column Combines loan_purpose and loan_type in the same way as the summary report
add_income_group(df) # Adds income_group column

In [68]:
ts = l.get('ffiec.gov-hmda-2010e-ts').partition.pandas
ts_name = ts[['respondent_id','respondent_name']]
x = df[['id','respondent_id', 'loan_type']].merge(ts_name, on='respondent_id')
x[x.respondent_name.str.contains('BANK OF AMERICA')][['respondent_id','respondent_name']].drop_duplicates()

       respondent_id                 respondent_name
4398      0000012773           BANK OF AMERICAN FORK
17927     0000014740  FIRST NATIONAL BANK OF AMERICA
263517    0000480228           BANK OF AMERICA, N.A.

# BoA

In [72]:
boadf = df[df.respondent_id=='0000480228']
###
# Action type == ALL
###
dfa= boadf
totalcount = dfa.loan_amount.count()
totalamount = dfa.loan_amount.sum()

### By Loan Purpose and Type
loanpt = dfa.groupby(['purpose_type'])
loanpt = loanpt['loan_amount'].agg(
                            {'count': np.size,
                             'amount': np.sum})
loanpt['%count'] = np.round(100*loanpt['count']/totalcount,1)
loanpt['%amount'] = np.round(100*loanpt['amount']/totalamount,1)
loanpt=loanpt[['count','%count','amount','%amount']]

### By Applicant Race/Ethnicity
race_eth  = dfa.groupby(['race_eth'])
race_eth  = race_eth ['loan_amount'].agg(
                            {'count': np.size,
                             'amount': np.sum})
race_eth ['%count'] = np.round(100*race_eth['count']/totalcount,1)
race_eth ['%amount'] = np.round(100*race_eth['amount']/totalamount,1)
race_eth = race_eth [['count','%count','amount','%amount']]

###By Applicant Income
income  = dfa.groupby(['income_group'])
income   = income['loan_amount'].agg(
                            {'count': np.size,
                             'amount': np.sum})

income ['%count'] = np.round(100*income['count']/totalcount,1)
income ['%amount'] = np.round(100*income['amount']/totalamount,1)
income = income [['count','%count','amount','%amount']]

###By Applicant Sex
sex  = dfa.groupby(['applicant_sex'])
sex   = sex['loan_amount'].agg(
                            {'count': np.size,
                             'amount': np.sum})
sex ['%count'] = np.round(100*sex['count']/totalcount,1)
sex ['%amount'] = np.round(100*sex['amount']/totalamount,1)
sex = sex [['count','%count','amount','%amount']]

### Smashing Tables Together
frames = [loanpt, race_eth,income,sex]
totalapp = pd.concat(frames, keys=['Loan Purpose and Type', 
                                   'Applicant Race/Eth', 
                                   'Applicant Income',
                                   'Applicant Sex'])
totalapp
pieces = [totalapp.ix[:, ["count","%count","amount","%amount",]]]
totalapp = pd.concat(pieces, axis=1, keys=['Total Applications (1)'])

#######
# Action Type =1
#######
dfa = df[df.action_type==1]
totalcount = dfa.loan_amount.count()
totalamount = dfa.loan_amount.sum()

### By Loan Purpose and Type
loanpt = dfa.groupby(['purpose_type'])
loanpt = loanpt['loan_amount'].agg(
                            {'count': np.size,
                             'amount': np.sum})
loanpt['%count'] = np.round(100*loanpt['count']/totalcount,1)
loanpt['%amount'] = np.round(100*loanpt['amount']/totalamount,1)
loanpt=loanpt[['count','%count','amount','%amount']]

### By Applicant Race/Ethnicity
race_eth  = dfa.groupby(['race_eth'])
race_eth  = race_eth ['loan_amount'].agg(
                            {'count': np.size,
                             'amount': np.sum})
race_eth ['%count'] = np.round(100*race_eth['count']/totalcount,1)
race_eth ['%amount'] = np.round(100*race_eth['amount']/totalamount,1)
race_eth = race_eth [['count','%count','amount','%amount']]

###By Applicant Income
income  = dfa.groupby(['income_group'])
income   = income['loan_amount'].agg(
                            {'count': np.size,
                             'amount': np.sum})
income ['%count'] = np.round(100*income['count']/totalcount,1)
income ['%amount'] = np.round(100*income['amount']/totalamount,1)
income = income [['count','%count','amount','%amount']]

###By Applicant Sex
sex  = dfa.groupby(['applicant_sex'])
sex   = sex['loan_amount'].agg(
                            {'count': np.size,
                             'amount': np.sum})
sex ['%count'] = np.round(100*sex['count']/totalcount,1)
sex ['%amount'] = np.round(100*sex['amount']/totalamount,1)
sex = sex [['count','%count','amount','%amount']]

### Smashing Tables Together
frames = [loanpt, race_eth,income,sex]
totalapp1 = pd.concat(frames, keys=['Loan Purpose and Type', 
                                   'Applicant Race/Eth', 
                                   'Applicant Income',
                                   'Applicant Sex'])
pieces = [totalapp1.ix[:, ["count","%count","amount","%amount",]]]
totalapp1 = pd.concat(pieces, axis=1, keys=['Action Type = 1'])

#######
# Action Type =2
#######
dfa = df[df.action_type==2]
totalcount = dfa.loan_amount.count()
totalamount = dfa.loan_amount.sum()

### By Loan Purpose and Type
loanpt = dfa.groupby(['purpose_type'])
loanpt = loanpt['loan_amount'].agg(
                            {'count': np.size,
                             'amount': np.sum})
loanpt['%count'] = np.round(100*loanpt['count']/totalcount,1)
loanpt['%amount'] = np.round(100*loanpt['amount']/totalamount,1)
loanpt=loanpt[['count','%count','amount','%amount']]

### By Applicant Race/Ethnicity
race_eth  = dfa.groupby(['race_eth'])
race_eth  = race_eth ['loan_amount'].agg(
                            {'count': np.size,
                             'amount': np.sum})
race_eth ['%count'] = np.round(100*race_eth['count']/totalcount,1)
race_eth ['%amount'] = np.round(100*race_eth['amount']/totalamount,1)
race_eth = race_eth [['count','%count','amount','%amount']]

###By Applicant Income
income  = dfa.groupby(['income_group'])
income   = income['loan_amount'].agg(
                            {'count': np.size,
                             'amount': np.sum})
income ['%count'] = np.round(100*income['count']/totalcount,1)
income ['%amount'] = np.round(100*income['amount']/totalamount,1)
income = income [['count','%count','amount','%amount']]

###By Applicant Sex
sex  = dfa.groupby(['applicant_sex'])
sex   = sex['loan_amount'].agg(
                            {'count': np.size,
                             'amount': np.sum})
sex ['%count'] = np.round(100*sex['count']/totalcount,1)
sex ['%amount'] = np.round(100*sex['amount']/totalamount,1)
sex = sex [['count','%count','amount','%amount']]

### Smashing Tables Together
frames = [loanpt, race_eth,income,sex]
totalapp2 = pd.concat(frames, keys=['Loan Purpose and Type', 
                                   'Applicant Race/Eth', 
                                   'Applicant Income',
                                   'Applicant Sex'])
pieces = [totalapp2.ix[:, ["count","%count","amount","%amount",]]]
totalapp2 = pd.concat(pieces, axis=1, keys=['Action Type = 2'])

#######
# Action Type =3
#######
dfa = df[df.action_type==3]
totalcount = dfa.loan_amount.count()
totalamount = dfa.loan_amount.sum()

### By Loan Purpose and Type
loanpt = dfa.groupby(['purpose_type'])
loanpt = loanpt['loan_amount'].agg(
                            {'count': np.size,
                             'amount': np.sum})
loanpt['%count'] = np.round(100*loanpt['count']/totalcount,1)
loanpt['%amount'] = np.round(100*loanpt['amount']/totalamount,1)
loanpt=loanpt[['count','%count','amount','%amount']]

### By Applicant Race/Ethnicity
race_eth  = dfa.groupby(['race_eth'])
race_eth  = race_eth ['loan_amount'].agg(
                            {'count': np.size,
                             'amount': np.sum})
race_eth ['%count'] = np.round(100*race_eth['count']/totalcount,1)
race_eth ['%amount'] = np.round(100*race_eth['amount']/totalamount,1)
race_eth = race_eth [['count','%count','amount','%amount']]

###By Applicant Income
income  = dfa.groupby(['income_group'])
income   = income['loan_amount'].agg(
                            {'count': np.size,
                             'amount': np.sum})
income ['%count'] = np.round(100*income['count']/totalcount,1)
income ['%amount'] = np.round(100*income['amount']/totalamount,1)
income = income [['count','%count','amount','%amount']]

###By Applicant Sex
sex  = dfa.groupby(['applicant_sex'])
sex   = sex['loan_amount'].agg(
                            {'count': np.size,
                             'amount': np.sum})
sex ['%count'] = np.round(100*sex['count']/totalcount,1)
sex ['%amount'] = np.round(100*sex['amount']/totalamount,1)
sex = sex [['count','%count','amount','%amount']]

### Smashing Tables Together
frames = [loanpt, race_eth,income,sex]
totalapp3 = pd.concat(frames, keys=['Loan Purpose and Type', 
                                   'Applicant Race/Eth', 
                                   'Applicant Income',
                                   'Applicant Sex'])
pieces = [totalapp3.ix[:, ["count","%count","amount","%amount",]]]
totalapp3 = pd.concat(pieces, axis=1, keys=['Action Type = 3'])

#######
# Action Type =4
#######
dfa = df[df.action_type==4]
totalcount = dfa.loan_amount.count()
totalamount = dfa.loan_amount.sum()

### By Loan Purpose and Type
loanpt = dfa.groupby(['purpose_type'])
loanpt = loanpt['loan_amount'].agg(
                            {'count': np.size,
                             'amount': np.sum})
loanpt['%count'] = np.round(100*loanpt['count']/totalcount,1)
loanpt['%amount'] = np.round(100*loanpt['amount']/totalamount,1)
loanpt=loanpt[['count','%count','amount','%amount']]

### By Applicant Race/Ethnicity
race_eth  = dfa.groupby(['race_eth'])
race_eth  = race_eth ['loan_amount'].agg(
                            {'count': np.size,
                             'amount': np.sum})
race_eth ['%count'] = np.round(100*race_eth['count']/totalcount,1)
race_eth ['%amount'] = np.round(100*race_eth['amount']/totalamount,1)
race_eth = race_eth [['count','%count','amount','%amount']]

###By Applicant Income
income  = dfa.groupby(['income_group'])
income   = income['loan_amount'].agg(
                            {'count': np.size,
                             'amount': np.sum})
income ['%count'] = np.round(100*income['count']/totalcount,1)
income ['%amount'] = np.round(100*income['amount']/totalamount,1)
income = income [['count','%count','amount','%amount']]

###By Applicant Sex
sex  = dfa.groupby(['applicant_sex'])
sex   = sex['loan_amount'].agg(
                            {'count': np.size,
                             'amount': np.sum})
sex ['%count'] = np.round(100*sex['count']/totalcount,1)
sex ['%amount'] = np.round(100*sex['amount']/totalamount,1)
sex = sex [['count','%count','amount','%amount']]

### Smashing Tables Together
frames = [loanpt, race_eth,income,sex]
totalapp4 = pd.concat(frames, keys=['Loan Purpose and Type', 
                                   'Applicant Race/Eth', 
                                   'Applicant Income',
                                   'Applicant Sex'])
pieces = [totalapp4.ix[:, ["count","%count","amount","%amount",]]]
totalapp4 = pd.concat(pieces, axis=1, keys=['Action Type = 4'])

#######
# Action Type =5
#######
dfa = df[df.action_type==5]
totalcount = dfa.loan_amount.count()
totalamount = dfa.loan_amount.sum()

### By Loan Purpose and Type
loanpt = dfa.groupby(['purpose_type'])
loanpt = loanpt['loan_amount'].agg(
                            {'count': np.size,
                             'amount': np.sum})
loanpt['%count'] = np.round(100*loanpt['count']/totalcount,1)
loanpt['%amount'] = np.round(100*loanpt['amount']/totalamount,1)
loanpt=loanpt[['count','%count','amount','%amount']]

### By Applicant Race/Ethnicity
race_eth  = dfa.groupby(['race_eth'])
race_eth  = race_eth ['loan_amount'].agg(
                            {'count': np.size,
                             'amount': np.sum})
race_eth ['%count'] = np.round(100*race_eth['count']/totalcount,1)
race_eth ['%amount'] = np.round(100*race_eth['amount']/totalamount,1)
race_eth = race_eth [['count','%count','amount','%amount']]

###By Applicant Income
income  = dfa.groupby(['income_group'])
income   = income['loan_amount'].agg(
                            {'count': np.size,
                             'amount': np.sum})
income ['%count'] = np.round(100*income['count']/totalcount,1)
income ['%amount'] = np.round(100*income['amount']/totalamount,1)
income = income [['count','%count','amount','%amount']]

###By Applicant Sex
sex  = dfa.groupby(['applicant_sex'])
sex   = sex['loan_amount'].agg(
                            {'count': np.size,
                             'amount': np.sum})
sex ['%count'] = np.round(100*sex['count']/totalcount,1)
sex ['%amount'] = np.round(100*sex['amount']/totalamount,1)
sex = sex [['count','%count','amount','%amount']]

### Smashing Tables Together
frames = [loanpt, race_eth,income,sex]
totalapp5 = pd.concat(frames, keys=['Loan Purpose and Type', 
                                   'Applicant Race/Eth', 
                                   'Applicant Income',
                                   'Applicant Sex'])
pieces = [totalapp5.ix[:, ["count","%count","amount","%amount",]]]
totalapp5 = pd.concat(pieces, axis=1, keys=['Action Type = 5'])

#######
# Action Type = 6
#######
dfa = df[df.action_type==6]
totalcount = dfa.loan_amount.count()
totalamount = dfa.loan_amount.sum()

### By Loan Purpose and Type
loanpt = dfa.groupby(['purpose_type'])
loanpt = loanpt['loan_amount'].agg(
                            {'count': np.size,
                             'amount': np.sum})
loanpt['%count'] = np.round(100*loanpt['count']/totalcount,1)
loanpt['%amount'] = np.round(100*loanpt['amount']/totalamount,1)
loanpt=loanpt[['count','%count','amount','%amount']]

### By Applicant Race/Ethnicity
race_eth  = dfa.groupby(['race_eth'])
race_eth  = race_eth ['loan_amount'].agg(
                            {'count': np.size,
                             'amount': np.sum})
race_eth ['%count'] = np.round(100*race_eth['count']/totalcount,1)
race_eth ['%amount'] = np.round(100*race_eth['amount']/totalamount,1)
race_eth = race_eth [['count','%count','amount','%amount']]

###By Applicant Income
income  = dfa.groupby(['income_group'])
income   = income['loan_amount'].agg(
                            {'count': np.size,
                             'amount': np.sum})
income ['%count'] = np.round(100*income['count']/totalcount,1)
income ['%amount'] = np.round(100*income['amount']/totalamount,1)
income = income [['count','%count','amount','%amount']]

###By Applicant Sex
sex  = dfa.groupby(['applicant_sex'])
sex   = sex['loan_amount'].agg(
                            {'count': np.size,
                             'amount': np.sum})
sex ['%count'] = np.round(100*sex['count']/totalcount,1)
sex ['%amount'] = np.round(100*sex['amount']/totalamount,1)
sex = sex [['count','%count','amount','%amount']]

### Smashing Tables Together
frames = [loanpt, race_eth,income,sex]
totalapp6 = pd.concat(frames, keys=['Loan Purpose and Type', 
                                   'Applicant Race/Eth', 
                                   'Applicant Income',
                                   'Applicant Sex'])
pieces = [totalapp6.ix[:, ["count","%count","amount","%amount",]]]
totalapp6 = pd.concat(pieces, axis=1, keys=['Action Type = 6'])

boa = pd.concat([totalapp,totalapp1,totalapp2,totalapp3,totalapp4,totalapp5,totalapp6], axis=1)
boa

                                             Total Applications (1)          \
                                                              count  %count
Loan Purpose and Type improvement                               103     1.0
                      purchase-conventional                    1022    10.3
                      purchase-govt                             550     5.5
                      refinance                                8271    83.2
Applicant Race/Eth    aian                                       40     0.4
                      as                                       1023    10.3
                      b                                         201     2.0
                      h                                        1463    14.7
                      pi                                         81     0.8
                      w                                        5668    57.0
Applicant Income      high                                       81     0.8
                      low                                      7975    80.2
                      mid                                       125     1.3
                      mod                                       303     3.0
Applicant Sex         1                                        6979    70.2
                      2                                        2324    23.4
                      3                                         620     6.2
                      4                                          23     0.2

                                                               \
                                              amount  %amount
Loan Purpose and Type improvement              32417      0.9
                      purchase-conventional   484014     13.9
                      purchase-govt           174186      5.0
                      refinance              2783718     80.1
Applicant Race/Eth    aian                     11999      0.3
                      as                      329398      9.5
                      b                        56321      1.6
                      h                       354973     10.2
                      pi                       22402      0.6
                      w                      2052423     59.1
Applicant Income      high                    111098      3.2
                      low                    2500083     72.0
                      mid                     115871      3.3
                      mod                     242656      7.0
Applicant Sex         1                      2524987     72.7
                      2                       645036     18.6
                      3                       255241      7.3
                      4                        49071      1.4

                                             Action Type = 1          \
                                                       count  %count
Loan Purpose and Type improvement                       2315     1.7
                      purchase-conventional            18452    13.7
                      purchase-govt                    10545     7.8
                      refinance                       103541    76.8
Applicant Race/Eth    aian                               417     0.3
                      as                               14274    10.6
                      b                                 2219     1.6
                      h                                12799     9.5
                      pi                                1027     0.8
                      w                                86821    64.4
Applicant Income      high                               698     0.5
                      low                             117924    87.4
                      mid                                916     0.7
                      mod                               2564     1.9
Applicant Sex         1                                95760    71.0
                      2                                29277    21.7
                      3                                 8844     6.6
                      4                                  972     0.7

                                                                \
                                               amount  %amount
Loan Purpose and Type improvement              624517      1.3
                      purchase-conventional   7434158     16.0
                      purchase-govt           3629798      7.8
                      refinance              34805947     74.9
Applicant Race/Eth    aian                     127627      0.3
                      as                      4702467     10.1
                      b                        630383      1.4
                      h                       3417863      7.4
                      pi                       309668      0.7
                      w                      29334688     63.1
Applicant Income      high                     802793      1.7
                      low                    36747812     79.0
                      mid                      809605      1.7
                      mod                     1811473      3.9
Applicant Sex         1                      32921809     70.8
                      2                       8218736     17.7
                      3                       3100921      6.7
                      4                       2252954      4.8

                                             Action Type = 2                   \
                                                       count  %count   amount
Loan Purpose and Type improvement                        221     2.3    31193
                      purchase-conventional             1918    19.7   656007
                      purchase-govt                      747     7.7   245548
                      refinance                         6872    70.4  2255775
Applicant Race/Eth    aian                                40     0.4    12336
                      as                                1185    12.1   380775
                      b                                  178     1.8    46575
                      h                                 1114    11.4   286285
                      pi                                  71     0.7    21871
                      w                                 5841    59.9  1955672
Applicant Income      high                                71     0.7    82729
                      low                               8659    88.7  2593971
                      mid                                 97     1.0    87809
                      mod                                230     2.4   159177
Applicant Sex         1                                 6732    69.0  2292781
                      2                                 2229    22.8   594259
                      3                                  765     7.8   262191
                      4                                   32     0.3    39292

                                                      Action Type = 3          \
                                             %amount            count  %count
Loan Purpose and Type improvement                1.0             1243     4.2
                      purchase-conventional     20.6             3046    10.3
                      purchase-govt              7.7             1941     6.6
                      refinance                 70.7            23336    78.9
Applicant Race/Eth    aian                       0.4              132     0.4
                      as                        11.9             3167    10.7
                      b                          1.5              714     2.4
                      h                          9.0             3958    13.4
                      pi                         0.7              314     1.1
                      w                         61.3            16516    55.9
Applicant Income      high                       2.6              153     0.5
                      low                       81.4            26803    90.7
                      mid                        2.8              182     0.6
                      mod                        5.0              512     1.7
Applicant Sex         1                         71.9            19102    64.6
                      2                         18.6             7148    24.2
                      3                          8.2             3219    10.9
                      4                          1.2               97     0.3

                                                               \
                                              amount  %amount
Loan Purpose and Type improvement             123326      1.3
                      purchase-conventional  1057959     11.0
                      purchase-govt           638008      6.6
                      refinance              7781823     81.1
Applicant Race/Eth    aian                     35838      0.4
                      as                      969824     10.1
                      b                       181171      1.9
                      h                       989168     10.3
                      pi                       86320      0.9
                      w                      5711810     59.5
Applicant Income      high                    169200      1.8
                      low                    8138761     84.8
                      mid                     163673      1.7
                      mod                     382289      4.0
Applicant Sex         1                      6553051     68.3
                      2                      1934387     20.1
                      3                       965108     10.1
                      4                       148570      1.5

                                             Action Type = 4                   \
                                                       count  %count   amount
Loan Purpose and Type improvement                        337     1.6    72603
                      purchase-conventional             2855    13.8  1117411
                      purchase-govt                     1641     8.0   546526
                      refinance                        15794    76.6  5376550
Applicant Race/Eth    aian                                66     0.3    20477
                      as                                1905     9.2   621148
                      b                                  363     1.8   103774
                      h                                 2277    11.0   607909
                      pi                                 182     0.9    52066
                      w                                11777    57.1  4120772
Applicant Income      high                               165     0.8   175766
                      low                              18179    88.1  5737341
                      mid                                181     0.9   144709
                      mod                                437     2.1   297429
Applicant Sex         1                                13420    65.1  4695145
                      2                                 4509    21.9  1289115
                      3                                 2648    12.8   902962
                      4                                   50     0.2   225868

                                                      Action Type = 5          \
                                             %amount            count  %count
Loan Purpose and Type improvement                1.0               89     1.2
                      purchase-conventional     15.7              681     9.2
                      purchase-govt              7.7              267     3.6
                      refinance                 75.6             6397    86.1
Applicant Race/Eth    aian                       0.3               31     0.4
                      as                         8.7              703     9.5
                      b                          1.5              143     1.9
                      h                          8.5              809    10.9
                      pi                         0.7               66     0.9
                      w                         57.9             3890    52.3
Applicant Income      high                       2.5               72     1.0
                      low                       80.7             6390    86.0
                      mid                        2.0               87     1.2
                      mod                        4.2              200     2.7
Applicant Sex         1                         66.0             4677    62.9
                      2                         18.1             1513    20.4
                      3                         12.7             1227    16.5
                      4                          3.2               17     0.2

                                                               \
                                              amount  %amount
Loan Purpose and Type improvement              30405      1.2
                      purchase-conventional   283546     10.8
                      purchase-govt            88870      3.4
                      refinance              2229499     84.7
Applicant Race/Eth    aian                      8557      0.3
                      as                      235485      8.9
                      b                        42075      1.6
                      h                       224214      8.5
                      pi                       19384      0.7
                      w                      1457810     55.4
Applicant Income      high                     95300      3.6
                      low                    2057299     78.2
                      mid                      95261      3.6
                      mod                     144170      5.5
Applicant Sex         1                      1740723     66.1
                      2                       447396     17.0
                      3                       422311     16.0
                      4                        21890      0.8

                                             Action Type = 6                   \
                                                       count  %count   amount
Loan Purpose and Type improvement                        576     1.4   156643
                      purchase-conventional             5905    14.6  1870706
                      purchase-govt                     7099    17.5  2402857
                      refinance                        26965    66.5  8606369
Applicant Race/Eth    aian                                81     0.2    26484
                      as                                2686     6.6   898491
                      b                                  436     1.1   135844
                      h                                 3055     7.5   859720
                      pi                                 248     0.6    81154
                      w                                17155    42.3  5803813
Applicant Income      high                                39     0.1    18882
                      low                              29253    72.1  9259476
                      mid                                 94     0.2    43282
                      mod                                335     0.8   153041
Applicant Sex         1                                19794    48.8  6727297
                      2                                 5718    14.1  1688278
                      3                                  824     2.0   285836
                      4                                14209    35.0  4335164


                                             %amount
Loan Purpose and Type improvement                1.2
                      purchase-conventional     14.3
                      purchase-govt             18.4
                      refinance                 66.0
Applicant Race/Eth    aian                       0.2
                      as                         6.9
                      b                          1.0
                      h                          6.6
                      pi                         0.6
                      w                         44.5
Applicant Income      high                       0.1
                      low                       71.0
                      mid                        0.3
                      mod                        1.2
Applicant Sex         1                         51.6
                      2                         13.0
                      3                          2.2
                      4                         33.3

In [73]:
boa.to_csv('boa.csv')